django_venv/
venv/
.idea/
db.sqlite3

pages/migrations/
pages/__pycache__/
pages/__init__.py

accounts/migrations/
accounts/__pycache__/
accounts/__init__.py

stankin_project/__init__.py
stankin_project/__pycache__/