{% extends 'base.html' %}

{% block title %} {{ object.title }} {% endblock %}

{% block content %}

    <h2>{{ object.title }}</h2>
    <p>by {{ object.user }}</p>

    <img src="{{ object.image.url }}" style="max-width: 90vw"> <br>
    {% if object.user == user %}
        <span>
            <a href="{% url 'image_edit' object.pk %}">Edit</a> |
            <a href="{% url 'image_delete' object.pk %}">Delete</a> |
        </span>
    {% else %}
        <span><a href="#">Like</a> or <a href="#">Dislike</a></span> |
    {% endif %}
    <a href="{{ object.image.url }}" download>Save</a> |
    <a href="{% url 'home' %}">Home page</a> |
    <a href="{% url 'comment_upload' object.pk %}">Comment</a>
    <ul>
        {% for comment in object.comments.all %}
            <li id="{{ comment.pk }}"><b>{{ comment.user }}</b> - {{ comment.text }}</li>
        {% endfor %}
    </ul>
{% endblock %}