{% extends 'base.html' %}

{% block title %} My Images {% endblock %}

{% block content %}
    <h2>My Images</h2>

    {% if images %}
    <ul>
        {% for image in images %}
            <li>
                <h5>{{ image.title }}</h5>

                <a href="{% url 'image_show' image.pk %}"><img src="{{ image.image.url }}" style="max-width: 400px; margin-left: 50px"></a>
                <hr align="left" color="#333" width="500px" size="1px">
            </li>
        {% endfor %}
    </ul>
    {% else%}
        <h3>We can't find anything :(</h3>
    {% endif %}
{% endblock%}
