@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.nav-item{


  padding-right: 10px;
}
 .navbar{
  font-family:serif;
  font-size: 20px;
  background: #333;
 }
 .dropdown{
   margin-left: 50px;
 }
 .navbar-toggler{

  margin-left: 110px;
 }
 .dropdown-menu{

  margin: -130px;

  }
.navbar-brand{
  color: aquamarine !important;
  font-size: 36px;
  
}


.navbar-light .navbar-toggler-icon{
 background-image: none;
}
.navbar-light .navbar-toggler{

  color: aquamarine;
  border-color: aquamarine;
}

#userInfo {
  width: 259px;
  float: left;
  margin-bottom: 25px;
  overflow: hidden;
}
#userInfo .notice {
  font-size: 11px;
  text-align: left;
  padding-top: 8px;
  margin: 0px 0px 5px 0px;
}
.notice {
  padding: 10px;
  background: #FFFBE7;
  text-align: center;
  border: 1px solid #d4d4d4;
  margin: 3px 0 3px 0;
}
.about{

  margin-top:5px;
  border-style: solid;
  border-color: aquamarine;
}



.row{

  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:0 auto;
}

#gal img{

  height: 100%;
  width:100%;
  object-fit: cover;
  box-shadow:0 0 20px aquamarine;
  cursor: pointer;
  
}


.row-cols-1>*{

  margin-top: 20px;
}
