<!doctype html>
<html lang="en">
  <head>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/lightbox.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
      </style>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
        </style>
    


  </head>

  <body>
    <!-- Navbar ----------------------------------------------------->
    <nav class="navbar navbar-expand-lg navbar-light;" style="border-bottom: aquamarine solid; ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" >DS</a>
        <button class="navbar-toggler " style=" color: aquamarine; border-color: aquamarine;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"> <img src="img/menu_white_24dp.svg" style="width:30px ;"alt=""></span>
      
        </button>
        <div class="dropdown">
          <a  href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="img/account_circle_white_24dp.svg" style="height:50px ;" alt="">
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#" >Страница пользователя</a></li>
            <li><a class="dropdown-item" href="#">Настройки</a></li>
            <li><a class="dropdown-item" href="#">Выход</a></li>
          </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit" style="color: black;">Search</button>
          </form>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >

          </li>
              <a class="nav-link" href="#" style="color: aliceblue;" >Фотографии</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: aliceblue;">Категории</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

 
<main>  
<form method="post" enctype="multipart/form-data"></form>
    <div class="container row">
      
      <div class="settings-form row align-items-center col-md-8 offset-md-2"> 
          <form class="row">
             
              <h2 >Редактировать информацию  </h2>
      
              <div class="form-group col-md-6">
                  <label for="id_username">Логин</label>
                  <input class="form-control" id="id_username" name="username" type="text" value="Login">
                
              </div>
              
              <div class="form-group col-md-6">
                  <label for="id_username">Почта</label>
                  <input class="form-control is_valid" id="id_email" name="email" type="email" value="dsfasdf@fg.sdf">
                  
              </div>

              <div class="form-group col-md-6">
                  <label for="id_username">Фамилия</label>
                  <input class="form-control" id="id_password1" name="password1"  value="Фамилия">
                  
              </div>

              <div class="form-group col-md-6">
                  <label for="id_username">Имя</label>
                  <input class="form-control" id="id_password2" name="password2"  value="Имя">
                  
              </div>
              <div class="form-group col-md-12">
                <div class="form-group col-md-6">
                 
                  <div class="mb-2">
                    <label for="id_username">Изменить фото профиля</label>
                    <input class="form-control" type="file" accept="image/*">
                  </div>
                </div>
                
                <div style="margin: 10px 0 20px 0">
                  <a href="#" class="btn btn-primary" style="text-decoration: none">Сменить пароль</a>
                </div>
                
           
          
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Update</button>
              </div>
          </div>
    
              
          </form>
      </div>

      
    </div>
  </main>


      





 
 <script src="js/bootstrap.bundle.min.js"></script>


 </body>
 
</html> 