
.nav-item{


  padding-right: 10px;
}
 .navbar{
  font-family:serif;
  font-size: 20px;
  background: #333;
 }
 .dropdown{
   margin-left: 50px;
 }

 .dropdown-menu{

  margin: -130px;

  }
.navbar-brand{
  color: aquamarine !important;
  font-size: 36px;
  
}


.navbar-light .navbar-toggler-icon{
 background-image: none;
}

img{
  display: block;
  margin: 0 auto ;
}

.mainPhoto{

  max-height: calc(100vh - 120px);
  max-width: calc(100vw - 100px);
  
}

.avator{
  height: 60px;
  width: 60px;
  /* margin: 2px 0 2px 0; */
  margin-top: -20px;
  border-radius: 30px;
  margin-right: 10px;
}

element.style {
  width: 95%;
  margin-top: 2px;
  font-size: 2em;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

h1 {
  font-size: 2em!important;
  font-weight:normal;
  font-family: Arial, 'Geneva CY', Sans-Serif;

  letter-spacing: 0.05em;}

h2{
  font-size:15px !important;
  font-family: Roboto;
}
a:hover {
  color: aquamarine !important; /* Цвет ссылки при наведении на нее курсора мыши */  
  text-decoration: underline; /* Добавляем подчеркивание */
 }
 .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}



div.tagList .tag {
    white-space: nowrap;
    display: inline-block;
    border: 1px solid aquamarine;
    padding: 4px 7px;
    border-radius: 50px;
    font-size: 11px;
    text-decoration: none;
    color: azure;
    margin: 0 4px 4px 0;
}
.btn{

  border-radius: 50px !important;
}

.comm_date {

  font-size: 10px;
}







.row-cols-1>*{

  margin-top: 20px;
}

.img-fluid{
  transition: .3s;
  height: 100%;
  width:100%;
  object-fit: cover;
  border-radius: 5px;

  cursor: pointer;
}

.img-fluid:hover{

  
  box-shadow:0 0 20px aquamarine;
  
}

.btn-outline-success:hover{
  background-color: aquamarine;
  background-color: aquamarine;
}
.btn-outline-success{
  background-color: aquamarine;
  background-color: aquamarine;

}
