@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.nav-item{


  padding-right: 10px;
}
 .navbar{
  font-family:serif;
  font-size: 20px;
  background: #333;
 }
 .dropdown{
   margin-left: 50px;
 }
 .navbar-toggler{

  margin-left: 110px;
 }
 .dropdown-menu{

  margin: -130px;

  }
.navbar-brand{
  color: aquamarine !important;
  font-size: 36px;
  
}


.navbar-light .navbar-toggler-icon{
 background-image: none;
}
.navbar-light .navbar-toggler{

  color: aquamarine;
  border-color: aquamarine;
}

#text h3{

  border: solid aquamarine; 
  color:aliceblue;
  background-color: #333;
  padding:10px;
  margin-top: 10px;
}
#carouselka{


}
